<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <title>{{ title }}</title>
    <style>html,body { height: 100%; margin: 0; }</style>
    <script type='text/javascript' src='/public/assets/js/jwplayer.js'></script>
    <script type='text/javascript'>web = '{{ id }}';</script>
  </head>
  <body>
    <div id='video'></div>
    <script type='text/javascript'>
      jwplayer('video').setup({ 
        file: `{{ linkVideo }}`,
        mediaid: `{{ mediaid }}`,
        title: `{{ title }}`,
        description: `{{ description }}`,
        width: '100%',
        height: '100%',
        responsive: true,
        controls: true,
        displayPlaybackLabel: true,
        playbackRateControls: true,
        preload: 'none',
      });
    </script>
  </body>
</html>